@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">

    <div style="width:40%; display:inline-flex; text-align:center">


       <div class="card-body">

            <img src="~/image/imagen_home.jpg" class="card-img-top" alt="image" />

            <p class="card-text">
                <h5>Consultoria.</h5>
            </p>

       </div>

    </div>

</div>















